:root {
    --pixel-border: #E3E1E4; /* Inner border color: */
    --pixel: .225rem; /* Pixel size */
}

.windowCont{
    width: 380px;
    height: 415px;
    // border: 16px solid #E3E1E4;
    // background-size: cover;  
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    box-shadow: inset 0 10px 8px rgba(0, 0, 0, 0.6);
    border-left: 15px solid #E3E1E4;
    border-right: 15px solid #E3E1E4;

    

    img{
        position: absolute;
        height: 110%;
        z-index: 1;
    }

    .selectionDivRight{
        background: rgba($color: #000000, $alpha: 0.6);
        border: none;
        height: 100%;
        width: 70%;
        align-self: flex-end;

        &.medium{
            width: 30%;
        }
        &.hard{
            width: 0%;
        }
    }
    .selectionDivLeft{
        background: rgba($color: #000000, $alpha: 0.0);
        border: none;
        height: 100%;
        width: 30%;
        align-self: flex-start;

        &.medium{
            background: rgba($color: #000000, $alpha: 0.6);
        }
        &.hard{
            background: rgba($color: #000000, $alpha: 0.6);
            width: 70%;
        }
    }
    box-shadow:
    
        
    /* Pixel Border Layer 1 */
        calc(var(--pixel) * -1) 0 0 0 var(--pixel-border),
        var(--pixel) 0 0 0 var(--pixel-border),
        0 calc(var(--pixel) * -2) 0 0 var(--pixel-border),
        0 calc(var(--pixel) * 2) 0 0 var(--pixel-border),
        0 calc(var(--pixel) * -5) 0 calc(var(--pixel) * -1) var(--pixel-border),
        0 calc(var(--pixel) * 5) 0 calc(var(--pixel) * -1) var(--pixel-border),
        0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -2) var(--pixel-border),
        0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -2) var(--pixel-border),
        0 calc(var(--pixel) * -10) 0 calc(var(--pixel) * -4) var(--pixel-border),
        0 calc(var(--pixel) * 10) 0 calc(var(--pixel) * -4) var(--pixel-border),
        0 calc(var(--pixel) * -13) 0 calc(var(--pixel) * -6) var(--pixel-border),
        0 calc(var(--pixel) * 13) 0 calc(var(--pixel) * -6) var(--pixel-border),
}




.levelSelectionCon {
    background-image: url("./assets/img/levelSelection.png");
}

.level{
    padding: 40px;
    color: rgb(68, 255, 22);

    &.medium{
        color: rgb(28, 54, 199);
    }

    &.hard{
        color: red;
    }

}