body {
  background-image: url("/assets/img/background-forest.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0px;
  padding: 0px;
  font-family: "Press Start 2P", system-ui;
}
body.medium {
  background-image: url("/assets/img/background-cafe.gif");
}
body.hard {
  background-image: url("/assets/img/background-city.gif");
}

.root {
  width: 100vw;
}

button {
  cursor: pointer;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}
#root .startCont {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  gap: 20px;
}
#root .startCont .startTitle {
  animation: slideIn2 4s ease-out forwards, startBlink 4s step-start infinite 4.5s;
  color: rgb(255, 255, 255);
  padding-bottom: 10%;
}
#root .startCont .startAnimController {
  animation: slideIn 4s ease-out forwards;
}
@keyframes slideIn2 {
  from {
    transform: translateY(-100vh);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slideIn {
  from {
    transform: translateY(100vh);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes startBlink {
  0%, 20% {
    color: rgb(255, 255, 255);
  }
  21%, 49% {
    color: transparent;
  }
  50%, 70% {
    color: red;
  }
  71%, 99% {
    color: transparent;
  }
  100% {
    color: rgb(255, 255, 255);
  }
}
#root .fullController {
  transform: scale(0.8);
}
#root .fullController .controllerLeftpart {
  position: absolute;
  top: 0px;
  left: -120px;
  top: 0px;
  width: 300px;
  height: 300px;
  background: #E3E1E4;
  border-radius: 99999009px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root .fullController .controllerLeftpart div {
  position: absolute;
  width: 110px;
  height: 40px;
  background: #7E7C7F;
  border-radius: 5px;
}
#root .fullController .controllerLeftpart .cont {
  width: 180px;
  height: 180px;
  position: relative;
  background: none;
  border-radius: 5px;
  border: 1px solid #dcdadd;
  border-radius: 999px;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2);
}
#root .fullController .controllerLeftpart .cont .plusBtnsCont {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#root .fullController .controllerLeftpart .cont .plusBtnsCont div {
  display: flex;
  justify-content: space-between;
}
#root .fullController .controllerLeftpart .cont .plusBtnsCont div button {
  background: none;
  border: none;
  width: 48px;
}
#root .fullController .controllerLeftpart .cont .plusBtnsCont .upDownBtnDIv {
  transform: rotate(90deg);
}
#root .fullController .controllerBase {
  width: 450px;
  height: 270px;
  background: #E3E1E4;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
}
#root .fullController .controllerBase div {
  width: 130px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  padding-right: 40px;
}
#root .fullController .controllerBase div button {
  background: #7E7C7F;
  border: none;
  margin: none;
  width: 60px;
  height: 20px;
  border-radius: 10px;
  transform: rotate(135deg);
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.2);
}
#root .fullController .controllerBase div p {
  padding-top: 10px;
  padding-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  font-weight: 800;
  color: #c7c7c7;
}
#root .fullController .controllerRightpart {
  box-sizing: border-box;
  border: 20px solid #E3E1E4;
  background: #7E7C7F;
  position: absolute;
  right: -120px;
  top: 0px;
  width: 300px;
  height: 300px;
  border-radius: 99999009px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  gap: 20px;
  transform: rotate(135deg);
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2);
}
#root .fullController .controllerRightpart div {
  display: flex;
  justify-content: space-between;
  width: 150px;
  height: -moz-fit-content;
  height: fit-content;
  background: #E3E1E4;
  padding: 5px;
  border-radius: 50px;
}
#root .fullController .controllerRightpart div button {
  width: 50px;
  height: 50px;
  border-radius: 999px;
  border: 1px solid rgb(124, 124, 124);
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2);
}
#root .fullController .controllerRightpart div .xBtn {
  background: #4D80F5;
  box-shadow: -2px 1px 0px 3px #6c91e9 inset;
}
#root .fullController .controllerRightpart div .yBtn {
  background: #5DDDAD;
  box-shadow: -2px 1px 0px 3px #6fe9bc inset;
}
#root .fullController .controllerRightpart div .aBtn {
  background: #d83b42;
  box-shadow: -2px 1px 0px 3px #e66066 inset;
}
#root .fullController .controllerRightpart div .bBtn {
  background: #FEF165;
  box-shadow: -2px 1px 0px 3px #ebe392 inset;
}

:root {
  --pixel-border: #E3E1E4; /* Inner border color: */
  --pixel-borderName: #E3E1E4; /* Inner border color: */
  --pixel: .225rem; /* Pixel size */
}

.windowCont {
  width: 380px;
  height: 415px;
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  box-shadow: inset 0 10px 8px rgba(0, 0, 0, 0.6);
  border-left: 20px solid #E3E1E4;
  border-right: 20px solid #E3E1E4;
  box-shadow: calc(var(--pixel) * -1) 0 0 0 var(--pixel-border), var(--pixel) 0 0 0 var(--pixel-border), 0 calc(var(--pixel) * -2) 0 0 var(--pixel-border), 0 calc(var(--pixel) * 2) 0 0 var(--pixel-border), 0 calc(var(--pixel) * -5) 0 calc(var(--pixel) * -1) var(--pixel-border), 0 calc(var(--pixel) * 5) 0 calc(var(--pixel) * -1) var(--pixel-border), 0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -2) var(--pixel-border), 0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -2) var(--pixel-border), 0 calc(var(--pixel) * -10) 0 calc(var(--pixel) * -4) var(--pixel-border), 0 calc(var(--pixel) * 10) 0 calc(var(--pixel) * -4) var(--pixel-border), 0 calc(var(--pixel) * -13) 0 calc(var(--pixel) * -6) var(--pixel-border), 0 calc(var(--pixel) * 13) 0 calc(var(--pixel) * -6) var(--pixel-border);
}
.windowCont::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 56px;
  width: 100%;
  background: #E3E1E4;
  z-index: 2;
}
.windowCont img {
  position: absolute;
  height: 110%;
  z-index: 1;
}
.windowCont .selectionDivRight {
  background: rgba(0, 0, 0, 0.6);
  border: none;
  height: 100%;
  width: 70%;
  align-self: flex-end;
}
.windowCont .selectionDivRight.medium {
  width: 30%;
}
.windowCont .selectionDivRight.hard {
  width: 0%;
}
.windowCont .selectionDivLeft {
  background: rgba(0, 0, 0, 0);
  border: none;
  height: 100%;
  width: 30%;
  align-self: flex-start;
}
.windowCont .selectionDivLeft.medium {
  background: rgba(0, 0, 0, 0.6);
}
.windowCont .selectionDivLeft.hard {
  background: rgba(0, 0, 0, 0.6);
  width: 70%;
}

.section_8bit {
  position: relative;
}
.section_8bit .mode {
  position: absolute;
  bottom: 40px;
  left: 21px;
  margin: 0px;
  z-index: 3;
}

.levelSelectionCon {
  background-image: url("./assets/img/levelSelection.png");
}

.level {
  padding: 40px;
  color: white;
  animation: blink 4s step-start infinite 1.5s;
}

@keyframes blink {
  0%, 20% {
    color: rgb(255, 255, 255);
  }
  21%, 80% {
    color: transparent;
  }
  81%, 100% {
    color: rgb(255, 255, 255);
  }
}
.mode-label {
  color: rgb(31, 153, 1);
}
.mode-label.medium {
  color: rgb(28, 54, 199);
}
.mode-label.hard {
  color: red;
}

.heroNameCont {
  background: #E3E1E4;
  padding: 0px;
  margin: 0px;
  margin-bottom: 80px;
  width: 380px;
  height: 40px;
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  box-shadow: inset 0 10px 8px rgba(0, 0, 0, 0.6);
  border-left: 20px solid #E3E1E4;
  border-right: 20px solid #E3E1E4;
  box-shadow: calc(var(--pixel) * -1) 0 0 0 var(--pixel-borderName), var(--pixel) 0 0 0 var(--pixel-borderName), 0 calc(var(--pixel) * -2) 0 0 var(--pixel-borderName), 0 calc(var(--pixel) * 2) 0 0 var(--pixel-borderName), 0 calc(var(--pixel) * -5) 0 calc(var(--pixel) * -1) var(--pixel-borderName), 0 calc(var(--pixel) * 5) 0 calc(var(--pixel) * -1) var(--pixel-borderName), 0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -2) var(--pixel-borderName), 0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -2) var(--pixel-borderName), 0 calc(var(--pixel) * -10) 0 calc(var(--pixel) * -4) var(--pixel-borderName), 0 calc(var(--pixel) * 10) 0 calc(var(--pixel) * -4) var(--pixel-borderName), 0 calc(var(--pixel) * -13) 0 calc(var(--pixel) * -6) var(--pixel-borderName), 0 calc(var(--pixel) * 13) 0 calc(var(--pixel) * -6) var(--pixel-borderName);
}
.heroNameCont .heroName {
  padding: 0px;
  margin: 0px;
  z-index: 3;
}
.heroNameCont::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 56px;
  width: 100%;
  background: #E3E1E4;
  z-index: 2;
}

.section_8bit {
  position: relative;
}
.section_8bit .titleHeroSelection {
  position: absolute;
  margin: 0px;
  padding: 0px;
  bottom: 33px;
  z-index: 2;
  left: 50%;
  transform: translate(-50%, -50%);
  text-wrap: nowrap;
}

.carousel {
  width: 380px; /* fixed width */
  overflow: hidden;
  position: relative;
}
.carousel .carousel-track {
  display: flex;
  transition: transform 0.4s ease-in-out;
  will-change: transform;
}
.carousel .carousel-track .carousel-item {
  flex: 0 0 380px;
  height: 415px;
  background-size: cover;
  background-position: center;
}
.carousel .carousel-track .Spartacus {
  background-image: url("./assets/img/characters/8bit/spartan.png");
}
.carousel .carousel-track .ET {
  background-image: url("./assets/img/characters/8bit/alien.png");
}
.carousel .carousel-track .Yoda {
  background-image: url("./assets/img/characters/8bit/yoda.png");
}
.carousel .carousel-track .Ebba-Green {
  background-image: url("./assets/img/characters/8bit/dog.png");
}

:root {
  --pixel-border-text: #313131; /* Inner border color: */
}

.countdownNmbr {
  font-size: 72px;
  color: white;
  animation: colorChange 0s 2s forwards;
}

@keyframes colorChange {
  to {
    color: red;
  }
}
.smallHeroMenuCont {
  display: flex;
  gap: 15px;
  align-self: flex-end;
  position: absolute;
  top: 10px;
  right: 40px;
}
.smallHeroMenuCont button {
  width: 60px;
  height: 60px;
  border-radius: 999px;
  background-size: 160%;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid black;
  overflow: hidden;
}
.smallHeroMenuCont button.spartan {
  background-size: 260%;
  background-position: -30px -5px;
}
.smallHeroMenuCont button.alien {
  background-position: -13px -17px;
}
.smallHeroMenuCont button.yoda {
  background-position: -13px -17px;
  background-size: 190%;
}
.smallHeroMenuCont button.dog {
  background-size: 260%;
  background-position: -30px -30px;
}
.smallHeroMenuCont button.disabled {
  pointer-events: none;
  filter: brightness(20%);
}

.gameCont {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 40px;
}
.gameCont .textbox, .gameCont .fillerBox {
  width: 100%;
  height: 100%;
}
.gameCont .fillerBox {
  margin-right: 40px;
}
.gameCont .textbox {
  margin-left: 40px;
  background: #7E7C7F;
  box-sizing: border-box;
  border-left: 20px solid #313131;
  border-right: 20px solid #313131;
  overflow: hidden;
  background-image: url(/assets/img/textBackground/brick1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: calc(var(--pixel) * -1) 0 0 0 var(--pixel-border-text), var(--pixel) 0 0 0 var(--pixel-border-text), 0 calc(var(--pixel) * -2) 0 0 var(--pixel-border-text), 0 calc(var(--pixel) * 2) 0 0 var(--pixel-border-text), 0 calc(var(--pixel) * -5) 0 calc(var(--pixel) * -1) var(--pixel-border-text), 0 calc(var(--pixel) * 5) 0 calc(var(--pixel) * -1) var(--pixel-border-text), 0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -2) var(--pixel-border-text), 0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -2) var(--pixel-border-text), 0 calc(var(--pixel) * -10) 0 calc(var(--pixel) * -4) var(--pixel-border-text), 0 calc(var(--pixel) * 10) 0 calc(var(--pixel) * -4) var(--pixel-border-text), 0 calc(var(--pixel) * -13) 0 calc(var(--pixel) * -6) var(--pixel-border-text), 0 calc(var(--pixel) * 13) 0 calc(var(--pixel) * -6) var(--pixel-border-text);
}
.gameCont .textbox:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 56px;
  width: 100%;
  z-index: 2;
}
.gameCont .heroCont .statsCont {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.gameCont .heroCont .statsCont > div {
  height: 40px;
  display: flex;
  gap: 10px;
}
.gameCont .heroCont .statsCont > div .barSymbol {
  height: 48px;
  width: 48px;
}
.gameCont .heroCont .statsCont > div .bar {
  height: 100%;
  width: 100%;
  border-radius: 30px;
}
.gameCont .heroCont .statsCont > div .bar .fill {
  height: calc(100% + 4px);
  width: calc(50% + 4px);
  transition: width 0.3s ease;
  border: 4px solid #1f1f1f;
}
.gameCont .heroCont .statsCont > div .bar .happinessFill {
  background-color: #d83b42;
  box-shadow: 0px 12px 0px 0px #ee3a43 inset;
}
.gameCont .heroCont .statsCont > div .bar .energyFill {
  background-color: #FEF165;
  box-shadow: 0px 12px 0px 0px #f7ef9e inset;
}
.gameCont .heroCont .statsCont > div .bar .fullnessFill {
  background-color: #5DDDAD;
  box-shadow: 0px 12px 0px 0px #71e7bc inset;
}/*# sourceMappingURL=style.css.map */